@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
  z-index: 999;
}

.leaflet-popup {
  z-index: 1000;
}

.leaflet-popup-content-wrapper {
  background: white;
  color: black;
  border-radius: 4px;
  padding: 1px;
  text-align: center;
}