@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/* Fix map container display */
.leaflet-control-container .leaflet-top,
.leaflet-control-container .leaflet-bottom {
  z-index: 999;
}

/* Ensure popups display above the map */
.leaflet-popup {
  z-index: 1000;
}